[2016-03-28 12:55] unintendedbear opened #1 "To obtain the set of GP rules"
Via @fergunet 's web services framework

[2016-03-28 12:59] unintendedbear opened #2 "To explain the dataset"
Attributes, size...

[2016-03-28 13:01] unintendedbear opened #3 "Problem description"
Extending the one from URL to BYOD scenario

[2016-03-28 15:22] unintendedbear opened #4 "To decide a proper title"
All @JJ @fergunet @zeinebchelly , please discuss here.
Candidates are:

Applying genetic programming for extracting classification rules
Extracting user activity classification rules via genetic programming
[other]

[2016-03-28 15:30] fergunet commented on #4
I prefer "Extracting user activity classification rules via genetic programming" because using GP for rule extraction has been used previously.

[2016-03-28 15:43] unintendedbear commented on #4
Ok, but is it not creepy to start saying "extracting user activity"?
Is like screaming BIG BROTHER HERE

[2016-03-28 15:51] JJ commented on #4
Generally the title should have
- What you do
- How you do it
- What is new about it (including why you do it)

I miss the "why" or the "what is new" in the title. Other than that, any of
them is OK

[2016-03-28 15:56] fergunet opened #5 "Code the fitness function"
In class GPRuleRefinementFitnessCalculator, complete next method

[code]

[2016-03-28 16:01] fergunet opened #6 "Complete the variables list (if necessary)"
Class `Variable` includes a list of possible variables. By now:

[code]

To add a new variable, update the list above with the name of the new variable, and also create a class with that name in package `es.ugr.gprulerefinement.variables.types` extending `BinaryVariable`, `CategoricalVariable` or `NumericalVariable`

[2016-03-29 07:36] unintendedbear commented on #4
The purpose of the paper is to decide which methodology is best for obtaining rules: classifiers, association algorithms, or GP. Does this help clarifying? :(
Also, I think it's new because so far I don't know anybody who has applied GP to BYOD rule generation... And the kind of data, that is also new.

[2016-03-29 07:56] JJ commented on #4
2016-03-29 9:36 GMT+02:00 Paloma de las Cuevas Delgado <
notifications@github.com>:

Partly, but you need to say why you need to obtain those rules. You need to
frame the problem and motivate it.

That is not necessarily a reason. Maybe it was not worth the while. But you
need to mention the BYOD context .

[2016-03-29 19:01] zeinebchelly commented on #4
Hi,

Would those be ok, maybe?
1. A novel BYOD security rules extraction technique based on genetic
   programming.
2. A novel application of genetic programming to the BYOD security context.
3. A new rules extraction technique based on genetic programming and it's
   application to the BYOD security context.

What do you think ?

Zaineb
On Tue, 29 Mar 2016 at 09:56 Juan Julián Merelo Guervós <
no

[2016-03-29 20:48] JJ commented on #4
I'm OK with any. Maybe the first a bit better.

[2016-03-31 16:32] unintendedbear commented on #4
I also like the three of them. thank you! I'm so bad at titles...
We will have to compare the results before stating GP is the best, but I will change the title for the first one for the moment.

[2016-03-31 16:33] JJ commented on #4
Good

2016-03-31 18:32 GMT+02:00 Paloma de las Cuevas Delgado <
notifications@github.com>:

##

JJ

[2016-04-04 13:34] unintendedbear opened #7 "State of the art about GP applied to rule systems"
To whom it may want to do it

[2016-04-04 15:14] JJ commented on #7
I am afraid this might be a bit too wide. There might be thousands of
papers about it. I'll take a look anyway...

[2016-04-04 16:00] unintendedbear commented on #7
Let's make a survey then :D

[2016-04-04 17:07] JJ commented on #7
I think it's better to make the objectives clear, and also a few initial results, if possible...

[2016-04-04 17:36] JJ commented on #7
There are some papers such as this one http://link.springer.com/article/10.1007/s11257-004-7961-2#/page-1
or this one
http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=1299832&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D1299832
In general, we are talking about "web usage mining" and genetic programming. I would say there is a whole bunch of them. If we're to push thi

[2016-04-04 17:37] JJ commented on #7
This one too
http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5359726&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D5359726

In general, I would say our angle should be that we are looking for a novel application, authorization of usage or not.

[2016-04-05 10:31] #6 closed, assigned to unintendedbear

[2016-04-13 14:21] unintendedbear commented on #7
I don't agree with the statement that we are talking about "web usage mining", as we may have lots of different events, from opening a web browser to blocking the screen... Why is this web usage mining?

[2016-04-13 15:45] JJ commented on #7
because we are dealing with web logs, are we not? If it's wider, then I'm
wrong, but anyway the initial research on user activity mining was done
with web logs.

[2016-04-13 15:47] unintendedbear commented on #7
The initial research, yes, for this one I wanted to use MUSES data :(

[2016-04-13 15:49] JJ commented on #7
OK. Maybe worth mentioning it, anyway. The general concept is the same: you
have a resource with is identified uniquely and you allow or deny. In the
case of the web it's URL in this case, well, whatever you use to identify
the resource or asset.

[2016-04-15 15:26] zeinebchelly commented on #4
I inserted the title that I have previously proposed and agreed by @JJ and @unintendedbear.

[2016-04-15 15:26] #4 closed, assigned to unintendedbear

[2016-04-15 15:28] zeinebchelly opened #8 "Abstract to check"
Writing the abstract: Describing the BYOD concept and linking it to Genetic Programming (GP). This should be done by highlighting the need of GP.

[2016-04-15 15:32] zeinebchelly commented on #8
Please check the abstract if it is OK or should we update it @JJ @unintendedbear

[2016-04-15 15:39] zeinebchelly commented on #7
We can also mention these if we want to talk in general about GP for rules extraction:
1. http://www.sciencedirect.com/science/article/pii/S1568494601000242
2. http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=1004431&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F7875%2F21687%2F01004431
3. http://link.springer.com/chapter/10.1007%2F3-540-44794-6_26

[2016-04-18 10:07] unintendedbear commented on #8
I think the abstract is the last thing to write... It's better if we start with the introduction or the problem description (or any other section but the experimental results).

[2016-04-18 10:08] unintendedbear commented on #1
Update: First results obtained, we just launched a new set of experiments.

[2016-04-18 10:39] zeinebchelly commented on #8
The abstract is not a problem. Now, since we are not going for PPSN then we
have to know how to orient the paper based on the choice of the conference
or journal-topics; should it be more oriented security aspects and
concepts, BYOD, or oriented data mining, rules generation, etc.  This is to
fit the conference/journal topics as all is based on the introduction and
the problem statement sections.

[2016-04-18 10:46] JJ commented on #8
If we can have it ready in one or two days, I would say we should at least
give it a try. It will probably be left open a bit more. We can submit a
stub or a draft before deadline and then send the real thing Tuesday
evening or Wednesday.

[2016-04-18 11:11] zeinebchelly commented on #8
I am In ! Ok !

On Mon, 18 Apr 2016 at 11:46 Juan Julián Merelo Guervós <
notifications@github.com> wrote:

[2016-04-18 11:33] unintendedbear commented on #3
Basically, the problem would be that of:
- We have a company and our employees use their mobile phones, laptops and tablets to work at home or at the office for both work and personal purposes.
- The company has built a basic set of rules by which the company system allows or denies access to the company assets.
- We want to create a set of rules via GP that is able to cover every new situation th

[2016-04-18 11:39] JJ commented on #3
I guess it's ok

[2016-04-18 11:39] unintendedbear commented on #3
Actually yes:
- Last step would be to present the rules to the CSO of the company and tune the algorithm according to the decision (?)

[2016-04-18 11:55] unintendedbear commented on #5
Closed by https://github.com/fergunet/GPRuleRefinement/commit/e4a998cc627ef530242551df1d4a13ede3ae7b87

[2016-04-18 11:56] unintendedbear commented on #5
Closed by https://github.com/fergunet/GPRuleRefinement/commit/e4a998cc627ef530242551df1d4a13ede3ae7b87

[2016-04-18 13:00] unintendedbear opened #9 "Description of the system"
With regard to the web services, problem parameters...

[2016-04-18 15:52] unintendedbear opened #10 "Change the code so that we separate training and test datasets"
Including 10-fold cross-validation.

[2016-04-18 15:56] unintendedbear opened #11 "Include more operators in the rule generation"
To be able to obtain:
- Rules which consider that an attribute is NOT a value.
- Rules which have conditions that should all meet (AND) or not (OR)

[2016-04-18 19:05] zeinebchelly opened #12 "update the problem description section"
We have to update it depending on what will be written in the introduction. We can do this together @unintendedbear

[2016-04-19 16:30] unintendedbear commented on #5
Ok @zeinebchelly @JJ and @fergunet , let's discuss the fitness.

What @JJ proposes is to divide the dataset in two parts: A and B.
- A would be devoted to generate, evaluate, and validate the classifier.
- B would be devoted to re-validate the best model obtained from A.

So, for the sake of accuracy, we should run an experiment following a 10-fold cross-validation process in which:
- A contains 9

[2016-04-19 16:39] JJ commented on #5
I'm obviously OK with that.

[2016-04-19 16:46] zeinebchelly commented on #5
I agree.
On Tue, 19 Apr 2016 at 17:39 Juan Julián Merelo Guervós <
notifications@github.com> wrote:

[2016-04-19 17:09] fergunet commented on #5
So, summarizing. We will have to run 9*9 times the GP?

[code]

(I've checked it with @unintendedbear and it seems correct) Please, confirm in case we are missing something

[2016-04-19 17:11] unintendedbear commented on #5
Yes. Time.

[2016-04-19 17:18] zeinebchelly commented on #5
I personally think that it is correct.

2016-04-19 18:11 GMT+01:00 Paloma de las Cuevas Delgado <
notifications@github.com>:

[2016-04-21 18:16] unintendedbear opened #13 "To implement a hierarchical fitness"
So if two individuals obtain the same fitness, the one which survives is the one with the smalest tree.

[2016-04-21 18:18] JJ commented on #13
That creates pressure towards smaller trees, biasing search. You shouldn't
try to do that unless it's really a problem. It's better to cap the tree
size at a particular value.

[2016-04-25 07:33] unintendedbear commented on #13
So you propose to repeat the experiments trying different max. depth of the tree?

[2016-04-25 07:35] JJ commented on #13
Specifically, I don't propose anything. I'm just saying that hierarchical
fitness functions are Evil. But that would be a good option, yes. Better than hierarchical fitness, anyway.

[2016-04-26 07:43] unintendedbear opened #14 "Discussion about the imbalance in the dataset"
Dear @zeinebchelly  @JJ and @fergunet,

The dataset we're working with has the following distribution of patterns per class:

45856 are GRANTED
3350 are STRONGDENY

This means 93% - 17% :(
What do you think that can be done? Does this affect the GP as it affects to classification?

[2016-04-26 07:44] JJ commented on #14
Training sets have to be balanced. So you'll have to choose randomly from
the biggest set to make it as small as the smallest.

[2016-04-26 07:47] unintendedbear commented on #14
Ok, so we have to start the experiments all over again, great!

Anyways, what about the second question? It affects **exactly** the same? How?

[2016-04-26 07:49] unintendedbear commented on #14
BTW if we do what you propose, @JJ we will lose almost all the information in the dataset...

[2016-04-26 15:40] unintendedbear commented on #7
Hi all, I've been reviewing these two:
- http://download.springer.com/static/pdf/887/chp%253A10.1007%252F978-3-642-17432-2_25.pdf?originUrl=http%3A%2F%2Flink.springer.com%2Fchapter%2F10.1007%2F978-3-642-17432-2_25&token2=exp=1461658558~acl=%2Fstatic%2Fpdf%2F887%2Fchp%25253A10.1007%25252F978-3-642-17432-2_25.pdf%3ForiginUrl%3Dhttp%253A%252F%252Flink.springer.com%252Fchapter%252F10.1007%252F978-3-64

[2016-04-27 09:22] unintendedbear commented on #12
I re-assing the issue to @zeinebchelly so she reviews the data description and decides if it's ok. @JJ and @fergunet can review too, of course.

[2016-04-27 17:30] zeinebchelly commented on #3
Section updated.

[2016-04-27 17:30] zeinebchelly commented on #12
Section updated

[2016-05-31 07:59] unintendedbear commented on #14
Hi all,

based on the results of this paper: http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6029340&tag=1, for the ratio of our data, which is 1:13 (almost 14), the best fitness function to deal with such imbalance is Wmw (Wilcoxon–Mann–Whitney). So I will go for implementing this and see what changes :)

[2016-05-31 08:00] zeinebchelly commented on #14
:) Good

2016-05-31 8:59 GMT+01:00 Paloma de las Cuevas Delgado <
notifications@github.com>:

[2016-08-08 08:24] #10 closed, assigned to unintendedbear

[2016-08-31 08:58] unintendedbear commented on #11
Closed in https://github.com/fergunet/GPRuleRefinement/commit/2e90882372c205c67321635829b5f860a317f8ae

[2016-08-31 08:58] #11 closed, assigned to unintendedbear

[2016-08-31 09:09] unintendedbear commented on #9
Assigning this to myself to update this section adding the experiments description from the point of view of:
1st, experiments without penalty or anything.
2nd, experiments with "penalty" to try to avoid imbalance influence, but rules are connected only by ANDs.
3rd, experiments with penalty and different connectors (AND/OR), and allowing NOT as when a condition MUST NOT be met.

Is this ok with y

[2016-08-31 09:21] unintendedbear commented on #3
Closing this because is redundant with https://github.com/geneura-papers/2016-PPSN/issues/12

[2016-08-31 09:21] #3 closed, assigned to zeinebchelly

[2016-08-31 15:57] unintendedbear opened #15 "Decide on where to send it (was: include more citations)"
If we plan to submit it to Expert Systems With Applications, I think is the thing to do, isn't it?

For example:
http://www.sciencedirect.com/science/article/pii/S1353485812700132
http://www.sciencedirect.com/science/article/pii/S1353485812701113
http://www.sciencedirect.com/science/article/pii/S0957417414008094

[2016-08-31 15:59] fergunet commented on #9
I like the incremental and experimental way to write a paper :)

[2016-09-04 17:30] JJ commented on #1
Whatever happened to the new set of experiments?

[2016-09-04 17:33] unintendedbear commented on #1
The third set is currently running (see #9 )

[2016-09-04 17:39] JJ commented on #15
I don't know about citations, but do we all agree on sending it there? @zeinebchelly @fergunet ?

[2016-09-04 17:42] fergunet commented on #15
Yes, I mentioned to @unintendedbear that ESWA is a good journal to apply (and how to search specific journal papers in Scopus to add in the reference before sending a paper :)

[2016-09-04 17:44] unintendedbear commented on #15
Yes, it was @fergunet 's and @vrivas 's advice.

[2016-09-04 17:47] JJ opened #16 "Change the format"
After #15 is settled, change it to the actual format.

[2016-09-04 19:55] zeinebchelly commented on #15
Hi !
Yes, I agree to submit our paper in ESWA.
On Sun, 4 Sep 2016 at 18:44 Paloma de las Cuevas Delgado <
notifications@github.com> wrote:

[2016-09-05 08:50] JJ commented on #15
If it's decided close #16 and this one with the commit that changes the format, @unintendedbear

[2016-09-05 08:52] unintendedbear commented on #15
Ok, perfect :)

[2016-09-07 11:28] #15 closed, assigned to unintendedbear

[2016-09-07 11:28] #16 closed, assigned to unintendedbear

[2016-09-13 15:09] unintendedbear opened #17 "To write the "Related Work" section"
Including citations from Elsevier, and even more importantly, from ESWA.

Discussion: should we talk about IDS and the differences with our system or with MUSES?

[2016-09-21 12:15] unintendedbear opened #18 "To look for other datasets"
In this list of databases:

https://r-dir.com/reference/datasets.html

[2016-09-21 12:26] unintendedbear commented on #18
Found this, also: http://www.secrepo.com/

[2016-11-07 11:15] unintendedbear commented on #17
Re-assigned to @JJ, @fergunet, and @zeinebchelly . Please assign me back once the section is reviewed. Thank you!

[2016-11-11 11:06] zeinebchelly commented on #17
Reviewing the section

[2016-11-11 14:16] zeinebchelly commented on #17
@unintendedbear I reviewed the section and it's OK for me. I will just check up some further references later if I find something interesting.

[2016-11-12 10:58] JJ opened #19 "Errors in bibliography"
[code]
Besides, I'd beg you to use the canonical geneura.bib file instead of particular versions. That one has been corrected and fixed and it's the best reference.

[2016-11-22 14:58] fergunet opened #20 "Consider releasing the dataset"
As stated in the SOA, there is a lack of security datasets publicly available for research. Maybe we can improve the quality of the paper presenting the new method PLUS a new released dataset, with a section describing it (and mentioning it in the abstract, of course).

However, and as it also been justified in the SOA, it maybe would imply some privacy issues, even anonymising the tags. But, is i

[2016-11-22 15:36] #19 closed, assigned to unintendedbear

[2016-11-23 13:24] fergunet opened #21 "To decide about the (new and improved) experimental section"
After discussing with @unintendedbear and looking to the current results we have thought a new experimental section that could improve the paper a lot and ease future steps.

First, we think that the fitness we are using is complicated to understand and requires a lot of computational time. Besides we do not find any reference to justify its use. So, we are going to the go back to the classical 10

[2016-11-25 09:46] zeinebchelly commented on #21
I think it makes more sense to use the 10-cross validation instead;
specifically if we think in terms of complexity.
Concerning the metric, maybe we can focus on FPR? What do you think?
And I totally agree with adding a section showing the performance of the
developed method in comparison to other state-of-the-art methods.

2016-11-23 14:24 GMT+01:00 Pablo García Sánchez <notifications@github.com>

[2016-11-29 18:04] fergunet opened #22 "Explain GP in Introduction"
You can adapt this text I wrote in the StarCraft paper (following the structure and adapting it to BYOD topic, and adding references to classification instead behaviour modelling):

[2016-11-30 10:23] unintendedbear commented on #22
Perfect, thank you!

[2017-02-14 12:18] #5 closed, assigned to unintendedbear

[2017-02-14 12:18] #13 closed, assigned to fergunet

[2017-02-14 12:18] #21 closed, assigned to nobody

[2017-02-14 12:34] #22 closed, assigned to unintendedbear

[2017-02-14 19:50] 7ossam81 commented on #14
Hi all,

I just came across this issue and I wanted to drop an advice :)

In such highly imbalanced class distribution, I prefer to go with oversampling the data rather than undersampling. With oversampling you can increase the percentage of the rare class randomly or by using some excellent oversampling techniques like [SMOTE](https://www.jair.org/media/953/live-953-2037-jair.pdf). I prefer overs

[2017-02-15 10:22] unintendedbear commented on #14
Thank you very much @7ossam81 :D

I also prefer oversampling. The thing is that we will have to leave the addressing of this problem aside for this paper, but I will implement it for the thesis.

Actually, the imbalance is not a problem when we code 1 individual as 1 set of rules, but is really noticeable when we make 1 individual = 1 rule (we have to run the algorithm 1 time per class, and the re

[2017-02-15 10:24] unintendedbear opened #23 "Include imbalance of the dataset in conclusions"
So that we explain that dealing with this problem (when it affects the implementation) will be left as future work.

[2017-02-15 10:26] unintendedbear commented on #17
Will include this one today:

Bhowan, U., Johnston, M., & Zhang, M. (2012). Developing new fitness functions in genetic programming for classification with unbalanced data. IEEE Transactions on Systems, Man, and Cybernetics, Part B (Cybernetics), 42(2), 406-421.

And will close the issue :)

[2017-02-15 12:04] JJ commented on #14
It's a great suggestion for  follow up work, but for the time being it's
the best to finish this paper...

[2017-02-21 09:21] unintendedbear opened #24 "Graphs and figures suggestions"
For now I've included how the different folds converge because in the other paper we've found that use a similar technique, they only divide the data one time (or they don't specify anything else), while we do 10-fold cross-validation, and I thought it was remarkable. This way, we demonstrate that with our framework you can randomly select a partition and you won't lose significant performance wit

[2017-02-21 09:30] JJ commented on #24
You don't prove anything by showing a graph with the evolution of fitness
in every fold. The only thing you prove is that fitness converges, but we
pretty much knew that, because it's a genetic algorithms. If you use
10-fold cross validation, that's fine. Your results will be much more
precisely reported, and you can say so in the conclusions. That's it.

[2017-02-21 09:42] unintendedbear commented on #24
Ok, then I'm open to any kind of graph you suggest. I've seen the ones with boxplots in @fergunet 's papers, and I can compare the different experiments we've done. But for the rest, I'm all ears.

[2017-02-21 10:12] JJ commented on #24
2017-02-21 10:42 GMT+01:00 Paloma de las Cuevas Delgado <
notifications@github.com>:

Well, it's kind of hard to suggest charts without having even an inkling of
what the results are or the shape they have. My point is whatever they are,
I think that these charts are not adequate for this paper given the
objectives it has. In general, charts have to convey the results in a way
that allows the read

[2017-02-21 10:38] unintendedbear commented on #24
Ok, results are in https://github.com/geneura-papers/2017-ESWA/commit/487d074eaa976530d312cbb7eb3dca5834936a2e so you all have them

[2017-02-21 12:57] JJ commented on #24
OK, there are a bunch of files and I don't know what they mean or can get
the big picture. You have written this in the abstract:

The simulation results over real data and a comparison with the results
achieved by other techniques confirm
the viability, effectiveness, and applicability of the GP approach to the
BYOD security context.

You have to process and represent the results in such a way th

[2017-02-22 17:46] fergunet opened #25 "Explain the 2 types of fitness + name"
In section 3, create a sub-section with title "Fitness compared" or something like that, describing the two fitness of the equations, and why they have been chosen.

Think a good name and acronym for each one, and refer them across the paper (including graphics) with it, instead "Equation x".

[2017-02-22 17:49] fergunet opened #26 "Explain the differences between the two types of indiduals"
After creating fitness sub-section as described in #25, the two types of individuals (tree and list) should be explained before the text "The tree is translated to a set...".

[2017-02-22 17:52] fergunet opened #27 "Re-arrange the Experimental Section"
Section 4 can be moved as a new sub-section in Section 3. Maybe renaming Section 3 to "Methodology". Don't forget to adapt the end of the introduction to this new scheme.

[2017-02-22 17:57] fergunet opened #28 "Improve the abstract and introduction"
After finishing issues #25 and #26, and because we are presenting the elements of our study (two fitness and two individual representation), a phrase indicating it should be added to abstract and introduction.

[2017-03-01 15:48] unintendedbear opened #29 "Add table with variables classification"
Also, include a * to those BYOD-specific.

[2017-03-01 18:08] unintendedbear commented on #29
Problem found @fergunet @JJ : we need to justify why we have used only those variables, 18 out of 39 (37 if we don't count the username and the asset_name, or the app_name).

[2017-03-01 18:13] JJ commented on #29
Why have you used only those variables?

[2017-03-01 18:19] unintendedbear commented on #29
No particular reason. If I run Ranker+InfoGainAttributeEval in Weka:

=== Attribute Selection on all input data ===

Search Method:
	Attribute ranking.

Attribute Evaluator (supervised, Class (nominal): 39 label):
	Information Gain Ranking Filter

Ranked attributes:
 0.38366533   10 user_trust_value
 0.38194309   18 device_trust_value
 0.27674493    3 event_type
 0.2016991     1 decision_cause
 0.

[2017-03-01 18:28] JJ commented on #29
If you used feature selection algorithm, say so in the paper. If you used some heuristic rule to extract only 18 variables, say so. There must be a reason, you can't just extract 18 variables randomly or on a whim.

[2017-03-01 18:29] unintendedbear commented on #29
ok, will take care of it

[2017-03-02 12:21] fergunet opened #30 "Change title according the new topic"
After finishing issue #28. Something emphasizing the methods to obtain rules (list individual vs tree individual) and the 2 fitness compared.

For example: "Comparing individual representation and evaluation for automatic rule extraction using GP in a BYOD scenario" (we can even remove the "BYOD scenario" in the title, but mentioning it in the abstract).

Any other idea?

[2017-03-02 12:23] unintendedbear commented on #30
I think is ok to leave BYOD in the title, BYOD is cool :_D

[2017-03-02 12:25] JJ commented on #30
"corporate security scenario"

[2017-03-02 12:28] unintendedbear commented on #30
But corporate security is too open, me thinks

[2017-03-02 12:44] unintendedbear commented on #25
I've assigned this to @fergunet for review and closing

[2017-03-02 14:52] fergunet commented on #25
After equation (4) add a paragraph for closing remarks of this section. "Therefore, in our experimental section we are going to compare both f_acc and f_CS, with different parameters of alpha, because... ". You can close after adding this paragraph.

[2017-03-02 15:39] #25 closed, assigned to fergunet, unintendedbear

[2017-03-02 15:42] unintendedbear commented on #28
I've been making changes these days that reference this, I'll leave it open until a whole revision has been made.

[2017-03-02 15:47] unintendedbear commented on #8
I think that with #28 we can close #8

[2017-03-02 15:47] #8 closed, assigned to nobody

[2017-03-02 15:48] #12 closed, assigned to zeinebchelly

[2017-03-02 15:54] #2 closed, assigned to unintendedbear

[2017-03-02 15:54] #7 closed, assigned to nobody

[2017-03-02 16:26] unintendedbear commented on #9
Review and close if necessary @fergunet @JJ

[2017-03-02 18:39] #27 closed, assigned to fergunet

[2017-03-02 18:41] fergunet opened #31 "Check if parameter table is correct"
After my commit 4ddf3a7ed2be337ab26c0a4d7bfe19ce05ed5ee9 see if all the parameters in Table tab:parameters are correct, and previously explained and justified.

[2017-03-02 18:42] fergunet opened #32 "Describe the 10-cross fold validation and why it has been used"
Preferably in section Experimental Setup.

Sorry @unintendedbear for so many assignments! D:

[2017-03-07 14:46] fergunet commented on #24
If we are comparing different methods and fitness, I think it would be useful to compare how the different configurations behave, to see if they are viable. For example, showing boxplots of best individuals during the evolution, as I did here: https://github.com/geneura-papers/2015-ASOCO/blob/master/mmdp-size-150-mut-0.006-xover-1-heterohardware-adaptsize.eps (dammit, github does not render eps, d

[2017-03-07 15:00] unintendedbear commented on #24
I like the idea, I will include it, separating by both the approach and the fitness :D

[2017-03-08 12:31] fergunet commented on #24
Add the figures to the paper and start explaining the differences between them to justify the best configuration decision, and then we can polish them. For example, maybe we could unify the F_Acc (Michigan vs Pittsburgh) and F_Conv (Michigan vs Pittsburgh), and play with the Y-axis scale, or something like that.

[2017-03-08 12:38] fergunet opened #33 "Calculate statistical significance between methods"
Perform significance tests between the outputs.

@unintendedbear could you create a table of 10 rows (best individuals) with a column configuration, so I can run the tests?

[2017-03-08 17:41] unintendedbear commented on #24
The disadvantage of unifying them is this:
![rplot](https://cloud.githubusercontent.com/assets/3061254/23715961/caaef6ce-042e-11e7-80c1-dbab30f8fb70.png)
![rplot01](https://cloud.githubusercontent.com/assets/3061254/23715962/cab2b25a-042e-11e7-85e0-6233bef6edd7.png)

[2017-03-08 17:55] JJ commented on #24
For the first, it's better to use a table. For the second, a table and
highlight those with statistically significant values.

[2017-03-08 18:00] unintendedbear commented on #24
There's a table already. So, no graphics at all or what do you suggest?

[2017-03-08 18:01] unintendedbear commented on #33
I can, and I will! hahahahaha

[2017-03-08 18:13] unintendedbear commented on #33
<table border=1>
<tr> <th>  </th> <th> BEST_F </th> <th> CONF </th>  </tr>
  <tr> <td align="right"> 1 </td> <td align="right"> 0.92 </td> <td> Pitt_FAcc </td> </tr>
  <tr> <td align="right"> 2 </td> <td align="right"> 0.93 </td> <td> Pitt_FAcc </td> </tr>
  <tr> <td align="right"> 3 </td> <td align="right"> 0.92 </td> <td> Pitt_FAcc </td> </tr>
  <tr> <td align="right"> 4 </td> <td align="right">

[2017-03-08 18:35] fergunet commented on #24
Also, issue #33 is about the statistical significance test assigned to me (pending).

[2017-03-08 18:44] JJ commented on #24
I'm not saying anything about graphics the class. Just about those graphics. Graphics must be used to let a person find patterns in plain sight that might be hidden in figures. In this case they clearly don't do that, as you have said yourself.

[2017-03-09 11:09] #29 closed, assigned to unintendedbear

[2017-03-09 11:45] #14 closed, assigned to nobody

[2017-03-09 12:11] #33 closed, assigned to fergunet, unintendedbear

[2017-03-09 12:29] fergunet opened #34 "Add average and std. dev to tables"
Title says all ;)

[2017-03-09 16:58] #34 closed, assigned to nobody

[2017-03-09 17:18] unintendedbear commented on #31
Re-opening, @fergunet, could the table be a little smaller, please? :D

[2017-03-09 19:03] unintendedbear opened #35 "To better explain how the set of rules is extracted from the tree"
And what happens with the duplicates (and why they appear in the first place)...

[2017-03-10 11:00] unintendedbear commented on #28
Ok, I need to discuss the maint topic of the paper with you two @JJ @fergunet :

The aim **is** to propose a system which helps CSOs in the process of defining rules. Helping how? Eliminating, generalising, finding new rules...
The aim is **not** comparing two fitness.
The aim is **not** comparing two approaches Pittsburgh and Michigan.
We, however, want to validate that the main approach we take

[2017-03-10 12:18] #31 closed, assigned to fergunet

[2017-03-10 17:50] fergunet commented on #28
So, we should emphasize in the paper **how** the chosen fitness and representations helps to achieve the objective. Is that ok? @JJ @unintendedbear

[2017-03-10 17:51] fergunet opened #36 "Add table with errors of the experiments, measuring FPs and FNs"
To improve the results discussion

[2017-03-11 08:05] JJ commented on #28
Well,
[code]
is what you want to get done in the long term. But is it what you have *actually* done in this particular paper?

[2017-03-11 09:17] unintendedbear commented on #28
Of course! We have an initial working system. Can It be improved by taking into account the imbalance of the datasets? Sure, but the comparisons we make in the paper are the way to demostrate that the solution we propose is good. Comparing is not the aim, is the way to validate the achievement of our actual goal.

[2017-03-11 11:50] JJ commented on #28
OK, your call. I would say that if you want to

    propose a system which helps CSOs in the process of defining rules

you should have tried all, or at least a few, ways of doing so: Forest Tree, XGBoost, just to name two of the most popular and state-of-the-art algorithms, and then compare them with others, such as the one that you have actually tried in this paper. I agree with Pablo. You have

[2017-03-13 09:54] unintendedbear commented on #28
Ok then! Right now I don't know what am I doing anymore, so anything you propose, I will write. Really, no hard feelings and I'm not being mean, I just want to have this done and sent.

[2017-03-13 17:52] JJ commented on #28
Once again, [I agree with Pablo](https://github.com/geneura-papers/2017-ESWA/issues/28#issuecomment-285737275).

[2017-03-13 19:22] unintendedbear commented on #28
Ok, no prob, thanks

[2017-03-13 23:09] unintendedbear commented on #26
This can be reviewed and closed (if not, re-assign to apply whatever changes you suggest).

[2017-03-15 12:27] unintendedbear commented on #36
@fergunet ! you can do your magic:

!-- html table generated in R 3.2.3 by xtable 1.8-2 package -->

<table border=1>
<tr> <th>FOLD </th> <th> BEST_VAL </th> <th> CONF </th>  </tr>
  <tr> <td align="right"> 1 </td> <td align="right"> 0.92 </td> <td> Pitt_FAcc </td> </tr>
  <tr> <td align="right"> 2 </td> <td align="right"> 0.92 </td> <td> Pitt_FAcc </td> </tr>
  <tr> <td align="right"> 3 </td> <td

[2017-03-15 12:34] #36 closed, assigned to unintendedbear

[2017-03-16 12:31] unintendedbear commented on #36
New and improved table, with more precision:

For VALIDATION -

<table border=1>
<tr> <th> CONF </th> <th> FOLD0 </th> <th> FOLD1 </th> <th> FOLD2 </th> <th> FOLD3 </th> <th> FOLD4 </th> <th> FOLD5 </th> <th> FOLD6 </th> <th> FOLD7 </th> <th> FOLD8 </th> <th> FOLD9 </th>
  <tr> <td> Pitt_FAcc </td> <td align="right"> 0.9249531 </td> <td align="right"> 0.9223265 </td> <td align="right"> 0.9273921 <

[2017-03-16 12:55] unintendedbear commented on #36
Aaaand for fitness:

<table border=1>
<tr> <th> CONF </th> <th> FOLD0 </th> <th> FOLD1 </th> <th> FOLD2 </th> <th> FOLD3 </th> <th> FOLD4 </th> <th> FOLD5 </th> <th> FOLD6 </th> <th> FOLD7 </th> <th> FOLD8 </th> <th> FOLD9 </th>

   <tr> <td> Pitt_FAcc </td> <td align="right"> 0.9248217 </td> <td align="right"> 0.9251136 </td> <td align="right"> 0.9245507 </td> <td align="right"> 0.9245924 </td> <

[2017-03-16 17:04] unintendedbear commented on #24
Another suggestion, by @deantares :

![rplot02](https://cloud.githubusercontent.com/assets/3061254/24008785/f9b51148-0a72-11e7-9232-fac33e1b33e0.png)

[2017-03-16 17:35] JJ commented on #24
1. Graphics are used to convey information that cannot usually be grasped by simple numbers. Most usually for comparison between two different techniques.
2. Illustrations must prove a point. They must be related to the objective of the paper or thesis. They are there to say "You see? It's just the way I said".
3. They must follow some very strict rules, exemplified by Tufte.

If you think 1. and

[2017-03-17 10:08] unintendedbear opened #37 "To add bioATC description"
Into experimental setup section (if you think it fits there, if not, just put it where you think it's ok).

[2017-03-20 18:13] #37 closed, assigned to fergunet

[2017-03-21 15:19] #30 closed, assigned to unintendedbear

[2017-03-28 09:28] unintendedbear commented on #23
Imbalance was also "introduced" or "discovered" in the results section in https://github.com/geneura-papers/2017-ESWA/commit/f9821980805561f2aa17105abeac630861f64c27, so that now it's linked with what was written in the conclusions (as part of the conclusions, the section is not done yet).  So, ready for review!

[2017-03-28 10:43] JJ commented on #23
OK; will do.

[2017-03-30 09:12] unintendedbear opened #38 "To re-arrange the results section"
Instead of presenting the approaches separately and both fitness values for each one, determine first which fitness function is better and then, with values only for that fitness function, show a comparison between approaches.

[2017-03-30 09:26] unintendedbear opened #39 "To include standard deviation inside average column"
Not as a separate one. Include it with ±

[2017-03-30 09:29] unintendedbear opened #40 "To present Michigan times together"
Not as separate values for the GRANTED and STRONGDENY classes. Also, remember to explain why we present them together.

[2017-04-10 15:16] #39 closed, assigned to unintendedbear

[2017-04-18 14:30] #40 closed, assigned to unintendedbear

[2017-05-15 10:00] unintendedbear opened #41 "To clarify the difference between trees and lists in terms of GP/GA"
Because, for example, the size of the tree changes but the length of the lists don't.

[2017-05-16 10:26] unintendedbear commented on #28
Marked for review, please @JJ and @fergunet close when reviewed (or suggest changes)

[2017-05-17 11:14] #41 closed, assigned to fergunet

[2017-05-17 11:26] #24 closed, assigned to JJ, fergunet, zeinebchelly

[2017-05-22 12:49] #28 closed, assigned to JJ, fergunet, unintendedbear

[2017-05-22 14:46] #32 closed, assigned to unintendedbear

[2017-05-22 14:46] #35 closed, assigned to fergunet, unintendedbear

[2017-05-22 14:49] unintendedbear commented on #18
Will save this for the thesis but not for this paper.

[2017-05-22 14:49] #18 closed, assigned to unintendedbear

[2017-05-23 13:01] #9 closed, assigned to JJ, fergunet, unintendedbear

[2017-05-23 13:01] #23 closed, assigned to JJ, fergunet

[2017-05-23 13:01] #26 closed, assigned to fergunet, unintendedbear

[2017-05-23 13:56] #1 closed, assigned to unintendedbear

[2017-05-24 12:49] #17 closed, assigned to JJ, fergunet

[2017-05-24 12:49] #38 closed, assigned to JJ, fergunet

[2017-06-05 10:59] fergunet opened #42 "To decide journal to apply"
Here a possible list of candidates, based on my research experience. We should decide and send the paper today.

**Soft Computing**
Topics: "evolutionary algorithms and genetic programming, neural science and neural net systems, fuzzy set theory and fuzzy systems, and chaos theory and chaotic systems."
Pros: Not so difficult, quick decisions
Cons: Q2

**Applied Soft Computing**
Topics: "highest qu

[2017-06-05 11:10] JJ commented on #42
GPEM, although this one is quite hard. Natural computing. Fifth Generation
Computing systems... and so on.

2017-06-05 12:59 GMT+02:00 Pablo García Sánchez <notifications@github.com>:

--
JJ

[2017-06-05 12:17] unintendedbear commented on #42
And "International Journal of Intelligent Systems"?

[2017-06-05 12:36] fergunet commented on #42
We've decided to apply to International Journal of Intelligent Systems, as APIN is not Q1, and some years dropped from JCR. IJIS is increasing the ranking every year, so maybe next year, even it can achieve Q1. Also, my contacts say that it is not so impossible as others. Please @unintendedbear close this issue after changing the format.

[2017-06-05 12:36] fergunet opened #43 "Reduce abstract to 200 words"
Currently is 250

[2017-06-05 12:37] unintendedbear commented on #42
:+1: !!

[2017-06-07 16:03] #43 closed, assigned to unintendedbear

[2017-06-15 23:14] 7ossam81 commented on #42
Try Neural Computing and Applications. Their new impact factor is 2.5 and the review process takes around one month.

[2017-06-16 06:29] JJ commented on #42
Nothing neural here, I'm afraid. Unless you want to apply another method
besides GP.

[2017-06-16 13:22] 7ossam81 commented on #42
There is nothing neural in this paper, I know. But this journal welcomes any paper with an application of GP or GA.

[2017-06-19 16:17] #42 closed, assigned to unintendedbear

[2017-06-19 16:20] JJ commented on #42
:+1:

[2019-10-16 18:18] JJ opened #44 "The paper has to be reduced to 16 pages"
1. Trim state of the art (with the added effect of eliminating bibliography)
2. Trim introduction (double bonus point if bibliography is also added)
3. Group charts (maybe put them together side by side, that would win a lot of space).

I don't think we'll need to eliminate any result, when we've done all of the above we'll take it from there.

[2019-10-16 18:18] JJ opened #45 "Revise abstract"
The abstract is maybe too long, and in any case it's good to revise it.